* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
body {
    display: flex;
    align-items: center;
    width: 1800px;
    height: 890px;
    background-color: rgba(169, 169, 169, 0.918);

}

.container {
    width: 1700px;
    height: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}



img {
    width: 850px;
    height: 1000px;
}

.log-signup {
    width: 583px;
    height: 569px;
    margin-left: 4em;
    margin-bottom: 4em;
    margin-top: 15rem;
}

.logon {
    padding-bottom: 2em ;
}

.acount-create a {
    color: blue;
    display:flex;
    width: 60%;  
    font-size: 12;
    font-weight: bold;
}

h4 {
    font-weight: bold;
}

#usuario, #password, #entrar {
    width: 100%;
}
