* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
body {
    display: flex;
    align-items: center;
    width: 1800px;
    height: 960px;
    background-color: rgba(169, 169, 169, 0.918);
}

.container {
    width: 1700px;
    height: 960px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

label {
    font-weight: bold;
    font-size: 16px;
}


img {
    width: 850px;
    height: 960px;
}

.log-signup {
    width: 583px;
    height: 569px;
    margin-left: 4em;
    margin-bottom: 4em;
    margin-top: 15rem;
}

.logon {
    padding-bottom: 2em ;
}
.acount-create {
width: 584;
height: 13em;
text-align: center;
}

.acount-create a {
    color: blue;
    width: 60%;  
    font-size: 12;
    font-weight: bold;
    background-color: #E8EDFF;
}

h4 {
    font-weight: bold;
}

#usuario, #password, #entrar {
    width: 100%;
}


.buttons {
    margin-bottom: 15px;
}